<h1>Despliegue con FireBase Hosting</h1>
<hr>




<h1>Formulario </h1>
<form (ngSubmit)="onRegister()" #myForm="ngForm">
<div class="input-goup">
  <label for="name">Nombre</label>
  <input type="text" name="name" id="name" [(ngModel)]="register.name">
  <p>Mensaje de error</p>
</div>

<div class="input-goup">
  <label for="name">Email</label>
  <input type="email" name="email" id="email" [(ngModel)]="register.email">
  <p>Mensaje de error</p>
</div>

<div class="input-goup">
  <label for="name">Password</label>
  <input type="password" name="password" id="password" [(ngModel)]="register.password">
  <p>Mensaje de error</p>
</div>

<button [disabled]="myForm.invalid" type="submit">Registrar</button>
<button type="button">Accion</button>

</form>


<h1>NgClass & NgStyle</h1>
<input type="text" required #nameInput4="ngModel" [(ngModel)]="person.name"/>
<hr class="linea-error"
  [ngClass]="{
    'valid' : nameInput4.valid,
    'invalid' :  nameInput4.invalid
  }"
/>
<p class="message-error" [class.invalid]="nameInput4.invalid">
  El campo es requerido
</p>

<hr>
<h1>Dynamic Class & Style</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name"/>
<p class="message-error" [class.invalid]="nameInput2.invalid">
  El campo es requerido
</p>

<label>Nombre</label>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="person.name"/>
<p [style.font-style]="nameInput3.invalid ? 'italic' : 'normal'">texto texto texto</p>

<div class="styles">
  <div>
    <input type="text"[(ngModel)]="widthImg">
  </div>
  <div>
    <img [style.width.px]="widthImg"[src]="person.avatar">
  </div>
</div>

<hr>
<h1>ngSwitch</h1>
<input type="text" [(ngModel)]="person.name"/>
<div [ngSwitch]="person.name">

    <p *ngSwitchCase="'nicolas'">
    La persona es Nicolas
  </p>
  <p  *ngSwitchCase="'julian'">
    La persona es Julian
  </p>
  <p  *ngSwitchCase="'camilo'">
    La persona es Camilo
  </p>
  <p *ngSwitchDefault> No hace match cn ninguno</p>
</div>

<!--
<p *ngIf="person.name ==='nicolas'">
  La persona es Nicolas
</p>
<p *ngIf="person.name ==='julian'">
  La persona es Julian
</p>
<p *ngIf="person.name ==='camilo'">
  La persona es Camilo
</p>
-->


<h1>*ngFor con objetos</h1>

  <div class="products--grid">
    <div>{{name}} </div>
    <div *ngFor="let product of products">
      <img [src]="product.image"  alt="image">
      <h2>{{product.price}}</h2>
      <p>{{product.name}}</p>

    </div>
  </div>


<h1>*ngFor</h1>
<input type="text" required [(ngModel)]="newName" />
<button (click)="addName">Add name</button>
<p></p>
<li *ngIf="names.length === 0">No hay nombres></li>
<ul>
  <li *ngFor="let name of names; index as i ">
    {{ i }}:  {{ name }}
    <button (click)="deleteName(i)"></button>
  </li>
</ul>

<ul>
  <li *ngFor="let emoji of emojis; index as i ">
    {{ i }}:  {{ name }}
  </li>
</ul>

<hr>

<h1>*ngIF</h1>
<input type="text" required [(ngModel)]="person.name"/>
<P *ngIf="person.name === 'luis miguel'">Hola, soy Luis Miguel</P>
<P *ngIf="person.name === 'juan'">Hola, soy Juan</P>
<P *ngIf="person.name === 'pedro' && person.age === 18; else myBlock">Hola, soy Pedro</P>

<ng-template #myBlock >
  <p>Este es el bloque else</p>
</ng-template>
<hr>

<h1>ngModel</h1>
<p>Nombre: {{person.name}}</p>
<input type="text" [(ngModel)]="person.name"/>
<hr>
<h1>Event (Binding)</h1>
<button [disabled]="btnDisabled">Enviar</button>
<!-- click es un evento de button -->
<button (click)="toggleButton()" >Toggle Button</button>
<p>Edad: {{person.age}}</p>
<button (click)="increaseAge()">Age ++</button>
<button (click)="drecrementAge()">Age --</button>

<!-- lleva signo de pesos porque es una variable -->
<div class="box" (scroll)="onScroll($event)" >
  <p>Inicio --Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque saepe perspiciatis et debitis obcaecati id maiores molestias. Sit natus vero accusantium architecto saepe, velit aperiam consequatur aspernatur modi quaerat aliquam.
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati placeat ex necessitatibus quam hic aliquam, eos aliquid dolorum delectus corporis molestias ipsum voluptatibus fugiat labore vel itaque, maxime veniam adipisci? --Fin
</p>
</div>

<p>Nombre {{person.name}}</p>
<input type="text" [value]="person.name" (keyup)="changeName($event)">

<hr>

<h1>Propiedades Binding</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="name">
<br> Edad: <progress max="100" [value]="age" ></progress>
<br><img [src]="img" alt="">
<!-- tambien actua en la propuedad que es src -->
<hr>

<h3>Binding sobre valore de objetos</h3>
<input type="text" [value]="person.name">
<br> Edad: <progress max="100" [value]="person.age" ></progress>
<hr>
<img [src]="person.avatar" alt="">
<hr>

<h1>Interpolación</h1>
<h2>{{ ' Hola... Angular '.repeat(5) }}</h2>
<p> 3 + 3 = {{ 3 + 3 }} </p>
<h3> Hola, soy {{ name }} y tengo {{ age }} años. </h3>
<img src="{{ img }}" alt="foto">
<p>
  <strong>Property Binding - es la manera que dispone Angular para controlar y modificar las propiedades de los distintos elementos de HTML, Para esto, simplemente utiliza los corchetes [] para poder modificar dinámicamente ese atributo desde el controlador,
  Utilidades:
  El atributo src de la etiqueta <img> para modificar dinámicamente la imagen
  </strong>
</p>
<!-- ***************************************************
<h1>Data binding</h1>
<p>Otros eventos que se pueden escuhar. </p>
<p>
  Es pasar el objeto de evento donde se capturan los elementos del DOOM, por lo genereal este evento contiene la informacion que debemos procesar en el evento.
</p>
<p>2.- Conviene conocer los objetos de DOOM atraves del evenet reference</p>
<p>Tenga encuenta el contexto de la ejecucion</p>

<p>Las propiedades de un $event(objeto) varia segun el evento del DOOM. Por ejemplo, un evento del mouse incluye informacion diferente informacion a la del evento de entrada </p>
<p>Podemos leer las teclas que se estan digitando a medida de que se ejecutan y seria de la siguiente forma : </p>
<input type="text" value="person.name" (keydown)="onKeyUp($event)"></input>
<p>Tambien se pueden capturar las teclas como shift, control.....</p>
  <input (keyup.control)=".repond to ctrl/control..." ></input>
  <input (keyup.alt)=".repond to alt/option" ></input>
  <input (keyup.shift)=".repond command..." ></input>
  <input (keyup.control.shift.z)=".repond to alt/option..." ></input>
  <input (keydown.control.shift.z)=".repond to alt/option..." ></input>
<p>Al utilizar el event tienes que encuentra que se muestra mas información lo que rompe la separacon de responsabilidades entre lo (lo que ve el usuario), el componente (como la aplicacion procesa los datos del usuario) es mejor usar variables de referencia en la capa typescript para guarda este componente. </p>
<p>Objeto del evento ($event) donde se captura los elementos del DOM,por lo general este evento contiene la nformacion, que debemos procesar en el metodo </p>
<p>(no any) para poder revelar las propiedades del evento. define un punto de dato para el evento que estamos capturando, lo que nos permite utizar las propiedades adecuadas para el objeto </p>
onk(event: any){
  this.value + = event.target.value + '|',
}
<P>No todos los elementos tienen un value,propiedad, por lo que es conveniente combertirlo a un target en un elemento de entrada </P>
onkey(even: keyboardEvent){
  this.values += (event.target) as HTMLInputElement).value + '|':
} -->

